<link rel="stylesheet" href="/css/bug.css">
<div class="container main-container"> 
    <form action="/bug/<%= project._id%>/create" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input class="form-control" type="text" name="title" id="title" placeholder="Title of the bug" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="description" cols="30" rows="10" placeholder="Describe the bug in a few words..." required></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label" for="label">Labels</label>
            <select id="available-labels" name="label" class="form-select" aria-label="Default select example" required>
                <option selected value="" disabled>Select a Label</option>
                <%for(let label of project.labels){%>
                    <option value="<%=label%>"><%=label%></option>
                <%}%> 
              </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="newLabelCheckbox">Add a new Label</label>
            <input type="checkbox" name="newLabelCheckbox" id="newLabelCheckbox">
        </div>

        <div class="mb-3">
            <label for="newLabel" class="form-label">New Label</label>
            <input id="newLabelContainer" class="form-control" type="text" name="newLabel" id="newLabel" placeholder="Enter a new Label" required disabled="true"> 
        </div>
        
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input class="form-control" type="text" name="author" id="author" placeholder="name of the author" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="/js/bug.js"></script>
