<link rel="stylesheet" href="/css/home.css">

<div class="main-container">
    <div class="add-new">
        <span><i style="font-size: 1.5rem;" class="fa-solid fa-plus"></i></span>
        <p>Create Project</p>
    </div>

</div>
