
<div style="margin-top: 50px;">
    <p>The Current Project Id is <%= project._id%></p>

    <% if(bugs.length ==0 ){%>
        <p>No Bugs Currently</p>  
    <%}else{%>
        <p><%= bugs %></p>    
    <%}%>
    <p><a href="/bug/<%=project._id%>">Create a Bug</a></p>  
</div>

