body{
    height: 150vh;
}
.main-container{
    height: 100vh;
    margin-bottom: 20px;
}
.main-container form{
    border: 1px solid black;
    position: relative;
    top: 5rem;
    padding: 2rem;
    width: 50%;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px 2px lightblue;
}