body{
    background-color: cyan;
    height: 150vw;
}
.main-container{
    margin: 7rem 0rem;

}

#project-creation-form{
    background-color: white;
    width: 700px; 
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 24px 14px lightgrey;
    margin: auto;
}

td label, input, textarea{
    margin: 0.5rem;
    border-radius: 0.5rem;
}

td input, textarea {
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
}
button{
    margin-left: 50% ;
    transform: translateX(-50%);
}