header .navbar{
    background-color: #222 !important;
}


.navbar-toggler{
    position: relative;
    background-color: white !important;
    left: 0rem;
}

.navbar a{
    color: white !important;
}