body{
    height: 200vh;
}
.main-container{
    width: 100vw;
    height: auto;
    margin: auto;
    margin-top: 3rem;
    padding: 2rem;
    background-color: rgb(8, 8, 120);
    color: white;
}

.main-container .project-info{
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
    color: white;
    margin: 1rem auto;
}

.main-container .project-info .description{
    margin: 2rem auto;
    line-height: 1.5rem;
    
}

.bugs-container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 2rem;

}

.bugs-container .add-bug{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    margin: auto;
}

a{
    text-decoration: none;
    color: white;
}

.bugs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cyan;
    width: 200px;
    height: 200px;
    margin: 2rem;
    border-radius: 1rem;
}

#issue-container{
    width: 90%;
    height: 50vh;
    margin :1rem auto;
    border-radius: 1rem;
    padding: 1rem;
    overflow: auto;
}

.bug{
    background-color: lightgreen;
    width: 70%;
    height: fit-content;
    margin :1rem auto;
    border-radius: 1rem;
    padding: 1rem;
}
.info{
    display: flex;
    flex-direction: row;
}

.filters{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}
