body{
    height: 120vh;
}
.main-container{
    width: 90vw;
    height: auto;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: lightgrey;
}

.main-container .project-info{
    background-color: cadetblue;
    width: fit-content;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 2px white;
}

.bugs-container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    /* background-color: blue; */
    margin: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 2rem;

}

.bugs-container .add-bug{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    margin: 2rem;
    border-radius: 1rem;
}

a{
    text-decoration: none;
}

.bugs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cyan;
    width: 200px;
    height: 200px;
    margin: 2rem;
    border-radius: 1rem;
}
