@media screen and (max-width: 1024px) {
    .main-container form{
        background-color: white;
        width: 90%;
    }
}  
@media screen and (max-width: 768px) {
    .main-container form{
        background-color: white;
        width: 90%;
    }
}   
@media screen and (max-width: 480px) {
    .main-container form{
        background-color: white;
        width: 90%;
    }
}   